<div class="content-body">
    <div class="container-fluid">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">{{ isEditMode ? 'Editar rol' : 'Detalles del rol' }}</h5>
                </div>
                <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-6 col-sm-6">
                                <div class="mb-3">
                                    <label for="roleName" class="form-label text-primary">Nombre del
                                        rol<span class="required">*</span></label>
                                    <select formControlName="name" class="form-select" id="roleName">
                                        <option value="">Selecciona un rol</option>
                                        <option *ngFor="let role of roleOptions" [value]="role">
                                            {{ roleLabels[role] }}
                                        </option>
                                    </select>
                                    <small *ngIf="roleForm.controls.name.touched && roleForm.controls.name.invalid"
                                        class="text-red-500">
                                        El nombre del rol es obligatorio
                                    </small>
                                </div>
                                <div class="mb-3">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="status"
                                            formControlName="status">
                                        <label class="form-check-label" for="status">Estado Activo</label>
                                        <small
                                            *ngIf="roleForm.controls.status.touched && roleForm.controls.status.invalid"
                                            class="text-red-500">
                                            El estado es obligatorio
                                        </small>
                                    </div>

                                </div>

                                <div class="mb-3">
                                    <label for="exampleFormControlTextarea2"
                                        class="form-label text-primary">Descripción<span
                                            class="required">*</span></label>
                                    <textarea formControlName="description" class="form-control" id="description"
                                        placeholder="Descripción del rol" rows="6"></textarea>
                                    <small
                                        *ngIf="roleForm.controls.description.touched && roleForm.controls.description.invalid"
                                        class="text-red-500">
                                        La descripción debe tener al menos 10 caracteres
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <button class="btn btn-primary" type="submit" [disabled]="roleForm.invalid">
                                {{ isEditMode ? 'Actualizar' : 'Guardar' }}
                            </button>
                            <button type="button" class="btn btn-secondary ms-2"
                                [routerLink]="['/admin/role']">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>