<div class="content-body">
    <div class="container-fluid">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">{{ isEditMode ? 'Editar nivel educativo' : 'Detalles del nivel educativo' }}</h5>
                </div>
                <form [formGroup]="educationLevelForm" (ngSubmit)="onSubmit()">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-6 col-sm-6">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput9" class="form-label text-primary">Nombre del
                                        Nivel<span class="required">*</span></label>
                                    <input formControlName="name" type="text" class="form-control"
                                        id="exampleFormControlInput9" placeholder="Nombre del nivel">
                                    <small
                                        *ngIf="educationLevelForm.controls.name.touched && educationLevelForm.controls.name.invalid"
                                        class="text-red-500">
                                        El nombre es obligatorio y debe tener al menos 3 caracteres
                                    </small>
                                </div>
                                <div class="mb-3">
                                    <label for="levelType" class="form-label text-primary">Tipo de nivel<span
                                            class="required">*</span></label>
                                    <select formControlName="levelType" id="levelType" class="form-select">
                                        <option value="" disabled>Seleccione un tipo</option>
                                        <option value="INITIAL">INITIAL</option>
                                        <option value="PRIMARY">PRIMARY</option>
                                        <option value="SECONDARY">SECONDARY</option>
                                        <option value="OTHER">OTHER</option>
                                    </select>
                                    <small
                                        *ngIf="educationLevelForm.controls.levelType.touched && educationLevelForm.controls.levelType.invalid"
                                        class="text-red-500">
                                        El tipo de nivel es obligatorio
                                    </small>
                                </div>
                                <div class="mb-3">
                                    <label for="shift" class="form-label text-primary">Turno<span
                                            class="required">*</span></label>
                                    <select formControlName="shift" id="shift" class="form-select">
                                        <option value="" disabled>Seleccione un turno</option>
                                        <option value="MAÑANA">Mañana</option>
                                        <option value="TARDE">Tarde</option>
                                        <option value="NOCHE">Noche</option>
                                    </select>
                                    <small
                                        *ngIf="educationLevelForm.controls.shift.touched && educationLevelForm.controls.shift.invalid"
                                        class="text-red-500">
                                        El turno es obligatorio
                                    </small>
                                </div>
                                <div class="mb-5">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="status"
                                            formControlName="status">
                                        <label class="form-check-label" for="status">Estado Activo</label>
                                        <small
                                            *ngIf="educationLevelForm.controls.status.touched && educationLevelForm.controls.status.invalid"
                                            class="text-red-500">
                                            El estado es obligatorio
                                        </small>
                                    </div>

                                </div>
                            </div>
                            <div class="col-xl-6 col-sm-6">
                                <div class="mb-3">
                                    <label for="management" class="form-label text-primary">Gestión <span
                                            class="required">* </span></label>
                                    <select formControlName="idManagement" class="form-select" id="management">
                                        <option value="" disabled>Seleccione una gestión</option>
                                        <option *ngFor="let management of managements"
                                            [value]="management.idManagement">
                                            {{ management.name }}
                                        </option>
                                    </select>
                                    <small
                                        *ngIf="educationLevelForm.controls.idManagement.touched && educationLevelForm.controls.idManagement.invalid"
                                        class="text-red-500">
                                        La gestión es obligatoria
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <button class="btn btn-primary" type="submit" [disabled]="educationLevelForm.invalid">
                                {{ isEditMode ? 'Actualizar' : 'Guardar' }}
                            </button>
                            <button type="button" class="btn btn-secondary ms-2"
                                [routerLink]="['/admin/education-level']">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>