<div class="dlabnav">
    <div class="dlabnav-scroll">
        <ul class="metismenu" id="menu">
            <li *ngFor="let menu of visibleMenuItems">
                <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">
                    <i class="material-icons">{{ menu.icon }}</i>
                    <span class="nav-text">{{ menu.label }}</span>
                </a>
                <ul aria-expanded="false">
                    <li *ngFor="let child of menu.children">
                        <a [routerLink]="child.route">{{ child.label }}</a>
                    </li>
                </ul>
            </li>

        </ul>
        <div class="copyright">
            <p><strong>Panel de Administración</strong></p>
            <p class="fs-12">Hecho por <span class="heart"></span> Jhordan Briceno</p>
        </div>
    </div>
</div>