<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-xxl-6 col-lg-6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="accordion accordion-primary" id="accordion-one">
                            <div class="accordion-item">
                                <div class="accordion-header d-flex justify-content-between align-items-center  rounded-lg"
                                    id="headingOne" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                    aria-controls="collapseOne" aria-expanded="true" role="button">
                                    <i class="fa-solid fa-graduation-cap mr-2"></i>
                                    <span class="accordion-header-text"> Grado - {{degree.name}}</span>
                                    <i class="fa-solid fa-angle-down"></i>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                    data-bs-parent="#accordion-one">
                                    <div class="accordion-body-text">
                                        {{degree.description}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="allCourses" class="col-xl-8 col-xxl-6 col-lg-6">
                <div class="card border-0 pb-0">
                    <div class="card-header border-0 pb-0">
                        <h4 class="card-title">Lista de cursos</h4>
                    </div>
                    <div class="card-body p-0">
                        <div id="DZ_W_Todo4" class="widget-media dlab-scroll height370 my-4 px-4">
                            <ul class="timeline">
                                <li *ngFor="let item of allCourses">
                                    <div class="timeline-panel">
                                        <div class="form-check custom-checkbox checkbox-success check-lg me-3">
                                            <input type="checkbox" class="form-check-input" id="customCheckBox1"
                                                required="" [value]="item.idCourse"
                                                [checked]="selectedCourses.includes(item.idCourse)"
                                                (change)="onCheckboxChange($event, item.idCourse)">
                                            <label class="form-check-label" for="customCheckBox1"></label>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="mb-0">{{item.name}}</h5>
                                            <small class="text-muted">{{item.description.slice(0,8)}}...</small>
                                        </div>
                                        <div class="dropdown">
                                            <button type="button" class="btn btn-success light sharp"
                                                data-bs-toggle="dropdown">
                                                <svg width="18px" height="18px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24"></rect>
                                                        <circle fill="#000000" cx="5" cy="12" r="2"></circle>
                                                        <circle fill="#000000" cx="12" cy="12" r="2"></circle>
                                                        <circle fill="#000000" cx="19" cy="12" r="2"></circle>
                                                    </g>
                                                </svg>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">Edit</a>
                                                <a class="dropdown-item" href="#">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-xxl-12 col-lg-12 text-center mt-4 d-flex justify-content-center">
                <button type="button" class="btn light btn-success me-3" (click)="registrarCursos()">Registrar</button>
                <button type="button" class="btn light btn-danger" [routerLink]="['/admin/degree']">Cancelar</button>
            </div>
        </div>
    </div>
</div>